.editor-container {
  display: flex;
  justify-content: center;
}

.editor {
  min-width: 100%;
  min-height: 80vh;
  text-align: left;
  vertical-align: top;
  resize: none;
  font-size: 120%;
}