.editor-container {
  display: block;
  justify-content: center;
}

.editor-title {
  width: 100%;
  font-size: 120%;
}

.editor-content {
  min-width: 100%;
  min-height: 70vh;
  text-align: left;
  vertical-align: top;
  resize: none;
  font-size: 120%;
}

.editor-label {
  display: block;
}