.banner .block {
  width: 18rem;
  height: 3rem;
}

.banner .text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.6rem;
  user-select: none;
  text-wrap: nowrap;
}