:root {
  --main-text-color: #e2a129;
}

body {
  background-color: #000000;
  background-image: url("https://quakeroach.net/image/bg_qr.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12rem;

  font-family: monospace;

  font-size: 14px;
  color: var(--main-text-color);

  margin: 4px;
}

input[type="text"], textarea {
  background-color: #00000049;
  border-style: none;
  color: #a7a7a7;
}

input[type="text"]:focus-visible, textarea:focus-visible {
  outline: none;
}

input[type="text"]::selection, textarea::selection {
  background-color: var(--main-text-color);
  color: black;
}

.top-nav-bar {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: end;
}

.top-nav-bar .button {
  font-weight: bold;
}

.top-nav-bar > .button:first-child {
  font-size: 20px;
}

.top-nav-bar > .belt:nth-child(2) {
  justify-content: flex-end;
}