:root {
  --main-color: #e2a129;
  --accent-color-a: #f4f456;
  --accent-color-b: #52D394;
  --main-background-color: #000000;
  --box-background-color-a: #5e5e5e6e;
  --box-background-color-b: #00000049;
  --box-border-color: #444444;
  --readable-text-color-a: #ebebeb;
  --readable-text-color-b: #000000; 
  --separator-color: #666666;
  --scrollbar-thumb-color: var(--box-border-color);
  --scrollbar-track-color: var(--box-background-color-a);
  --nested-box-shadow-color: #202020;
}

body {
  background-color: var(--main-background-color);
  background-image: url("https://quakeroach.net/image/bg_qr.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12rem;

  font-family: monospace;

  font-size: 14px;
  color: var(--main-color);

  padding: 4px;
  margin: 0px;

  scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
}

:not(.box) > .box,
.box > * {
  margin: 4px;
}

.box > .box {
  filter: drop-shadow(2px 2px 1px var(--nested-box-shadow-color));
  border-color: rgb(from var(--box-border-color) calc(r * 1.3) calc(g * 1.3) calc(b * 1.3) / alpha);
}

.box {
  backdrop-filter: blur(4px);
  background-color: var(--box-background-color-a);
  border-width: 1px;
  border-style: solid;
  border-color: var(--box-border-color);
  padding: 8px;
  position: relative;
  font-family: inherit;
  font-size: inherit;
}

.button {
  display: inline-block;
  cursor: pointer;
}

a.button, button.button {
  color: var(--main-color);
  text-decoration-line: none;
}

input, textarea {
  background-color: var(--box-background-color-b);
  border-style: solid;
  border-width: 1px;
  border-color: var(--box-border-color);
  color: var(--readable-text-color-a);
  font-family: inherit;
  font-size: 120%;
}

input:focus-visible, textarea:focus-visible {
  outline: none;
}

input::selection, textarea::selection {
  background-color: var(--main-color);
  color: var(--readable-text-color-b);
}

label {
  display: block;
}