.main-layout-navbar {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

.main-layout-navbar-left {
  display: flex;
}

.main-layout-navbar-right {
  display: flex;
  flex-direction: row-reverse;
}